<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="with=device-width, initial-scale=1.0"> <!-- adaptable to diff screens -->
        <title> reviews </title>
        <link rel="stylesheet" type = "text/css" href="/static/styles/reviews.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section class="header"> <!-- section tag = defines a section -->
            <nav> <!-- navigation links, for blocks of links -->
                <img src="/static/images/logo.png"> <!-- 'logo' image redirects to the home page with the href -->
            </nav>

        <div class="text-box">
            <h1>REVIEWS</h1>
            <p> my valid? opinions </p>
        </div>

    </body>
</html>